<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
  </head>
  <body>
    <div class="hero-bg">
      <section class="top">
        <header>
          <a href="#">SMABUZ</a>
        </header>
        <h1><span >A Simple</span>INVENTORY</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <div class="form-container">
          <form action="{{ url_for('adduser') }}"method="GET">
            <div class="form-left">
              <label >Get Started</label>
              <input class="button1"type="submit"value="Sign Up">
            </div>
          </form>
        </div>
      </section>
    </div>

    <section class="about">
      <div class="right-col">
        <h2>Simple. Small.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </section>
  </body>
</html>
