<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='assets/css/main.css') }}">
  </head>
  <body>
    <div class="hero-bg">
      <section>
        <header>
          <a href="#">SMABUZ</a>
        </header>
        <div class="form-box">
          <div class="button2">
            <label class="label-box" for="login">Login</label>
        <form id="Login" class="input-group" action="{{ url_for('login_submit') }}" method="POST">
          <input type="email" name="email"class="input-field" placeholder="Email"required>
          <input type="password" name="password" class="input-field" placeholder="Password"required>
          <input type="checkbox" name="remember"class="check-box"><span>Remember Password</span>
          <button type="submit" class="submit-btn" name="button">Log In</button>
        </form>
        </div>
      </section>
    </div>
    <section class="about">
      <div class="right-col">
        <h2>Simple. Small.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </section>


  </body>
</html>
