
<!-- Footer -->
<footer class="footer">
    <div class=" container-fluid ">
      <nav>
        <ul>
          <li>
            <a href="https://github.com/CodeStreet-ai/SmaBuz-Inventory">
              SMABUZ INVENTORY
            </a>
          </li>
          <li>
            <a href="https://github.com/CodeStreet-ai">
              CODESTREET-AI
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        <a  href="http://www.twitter.com/vant7ge"target="_blank"rel="noopener noreferrer">CONTACT ME!</a>
        <!-- social media-->
      </div>
    </div>
  </footer>