input[type=text-form] {
margin: 1rem;
width: 151px;
}

button[type=submit-form] {
  margin: 1.2em 2.5em ;
  width: 150px;
  background-color:#244871;
  color: white;

}

.text-primary th {
  color: #244871;
  font-size: 1.2rem;
}

.btn-warning {
  cursor: pointer;
  margin: auto;
  border: none;
  outline: none;
  padding: .3em;
  border-radius: .3em;
}
.btn-danger {
  cursor: pointer;
  margin: auto;
  border: none;
  outline: none;
  padding: .3em;
  border-radius: .3em;
}
.text-right a {
 text-decoration: none;
}
